**/.idea/*
!/.idea/icon.png
!/.idea/vcs.xml
!/.idea/copyright
!/.idea/codeStyleSettings.xml
!/.idea/codeStyles
!/.idea/dictionaries
!/.idea/inspectionProfiles
*.iml
.gradle
.kotlin
.codex
.DS_Store
build
!app/build/outputs/
!app/build/outputs/apk/
!app/build/outputs/apk/release/
!app/build/outputs/apk/release/app-release.apk
local.properties
secrets.properties
