<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application
    android:label="성빈랜드"
    android:name="sungbinland.app.App"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:theme="@android:style/Theme.Material.Light.NoActionBar">

    <activity
      android:name="sungbinland.app.MainActivity"
      android:exported="true"
      android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
